<h1>画像投稿フォーム</h1>
  <%= form_with model: item do |f| %>
    <h4>作品画像</h4>
      <%= f.file_field :itm_image_url,accept:'itm_image_url/*' %>
    <h4>作品名</h4>
      <%= f.text_field :item_name %>
    <h4>作品説明</h4>
      <%= f.text_area :explanation %>
    <%= f.submit '投稿' %>
  <% end %>