<%= form_with model: item do |f| %>
    <div class="row m-2 p-2">
      <div class="col-md-4 offset-md-4">
        <%= f.label :作品 %>
        <%= f.file_field :item_image_url, accept: 'item_image_url/*', class: 'form-control' %>
      </div>
    </div>
    <div class="row m-2 p-2">
      <div class="col-md-4 offset-md-4">
        <%= f.label :作品名 %>
        <%= f.text_field :item_name, class: 'form-control' %>
      </div>
    </div>
    <div class="row m-2 p-2">
      <div class="col-md-4 offset-md-4">
        <%= f.label :作品説明 %>
        <%= f.text_area :explanation, class: 'form-control' %>
      </div>
    </div>
    <div class="row m-2 p-2">
      <div class="col-md-4 offset-md-4">
      <%= f.label :ジャンル %>
      <%= f.collection_select :genre_ids, Genre.all, :id, :genre_name, { include_blank: '--選択してください--' }, { class: 'form-control', multiple: true } %>
       </div>

    </div>
    <div class="row m-2 p-2">
      <div class="col-md-4 offset-md-4">
        <%= f.submit class: 'btn btn-primary' %>
        <%= link_to items_path, class: 'btn btn-secondary' do %>
          戻る
        <% end %>
      </div>
    </div>
  <% end %>