<div class="container">
  <div class="row my-3">
    <div class="col-sm-10 px-sm-0 offset-sm-1">
      <h2 style="background-color:#F5F5F5;">Logo一覧</h2>
  </div>
  </div>

  <!--ジャンル検索機能-->
  <div class="row my-3">
    <div class="col-md-12">
      <h3>ジャンル検索</h3>
      <%= form_tag(items_path, method: :get) do %>
        <%= select_tag :genre, options_for_select(Genre.all.map{ |g| [g.genre_name, g.id] }), include_blank: true %>
        <%= submit_tag "検索" %>
      <% end %>
    </div>
  </div>

<div class="row">
<% @items.each do |item| %>

    <div class="col-md-4">
        <div class="card bg-light.bg-gradient">
<div class="card-img-top bd-placeholder-img" >
<% if customer_signed_in? %>
<%= link_to item_path(item.id) do %>
<%=image_tag item.item_image_url,width: "100%", height: "164px", style: "object-fit: cover;" %>
<% end %>
          <div class="card-body">
          <%= link_to item_path(item.id) do %>
          <p class="item-title text-center">作品名: <%= item.item_name %></p>
          <% end %>
          <%= link_to customer_path(item.customer_id) do %>
          <p class="item-name text-center">製作者: <%= item.customer.account_name %></p>
          <% end %>
          </div>
 <% else %>
          <%=image_tag item.item_image_url,width: "100%", height: "164px", style: "object-fit: cover;" %>
          <div class="card-body">
          <p class="item-title text-center">作品名: <%= item.item_name %></p>
          <p class="item-name text-center">製作者: <%= item.customer.account_name %></p>
          </div>
 <% end %>
        </div>
        </div>
        </div>
<% end %>
   </div>
</div>

