<div class="container">
  <div class="row my-3">
    <div class="col-sm-10 px-sm-0 offset-sm-1">
      <h2 style="background-color:#F5F5F5;">Logo一覧</h2>
  </div>
  </div>

　<% @items.each do |item| %>
  <div class="row">
    <div class="col-4">
        <div class="card">

          <%= link_to item_path(item.id) do %>
         <p class="img-wrap"><%=image_tag item.item_image_url,size: "180x130" %></p>
          <div class="card-body">

          <p class="item-title"><%= item.item_name %></p>
          <% end %>

          <%= link_to customer_path(items) do %>
          <p class="item-name"><%= item.item.name %></p>
          <% end %>
          </div>
        </div>
        </div>
        </div>
  <% end %>
</div>

