<div class="container bg-light">
  <div class="row my-3">
    <div class="col-md-10 mx-auto">
      <h2 class="bg-light text-center">logo 詳細</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 mx-auto">
  <div class="d-flex justify-content-center">
    <%=image_tag @item.item_image_url,size: "400x400" %>
  </div>
</div>
<div class="col-md-4">
  <table class="table">
    <tbody>
      <tr>
        <td>作品名</td>
        <td><%= @item.item_name %></td>
      </tr>
      <tr>
        <td>制作コメント</td>
        <td><%= @item.explanation %></td>
      </tr>
      <tr>
        <td>アカウント</td>
        <td>
          <%= link_to customer_path(@customer) do %>
          <%= @customer.account_name %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>ジャンル</td>
        <td>
        <% if @item.genres.any? %>

       <%= @item.genres.pluck(:genre_name).join(', ') %>
        <% else %>
          ジャンルがありません。
        <% end %>
        </td>
      </tr>
      <tr>
        <th>いいね数:<%= @favorite_count %></th>
        <td>
          <% if @item.favorited?(current_customer) %>
           <%= link_to item_favorites_path(@item.id), method: :delete do %>
           <span style="color:red;">❤︎</span>
           <% end %>
          <% else %>
          <%= link_to item_favorites_path(@item.id), method: :post do %>
          <span>♡</span>
          <% end %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>コメント数:<%= @item.item_comments.count %></td>
        <td>
          <%= form_with model: [@item, @item_comment], url: item_item_comments_path(@item), local: true do |f| %>
          <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに", class: "form-control" %>
          <%= f.submit "送信する", class: "btn btn-primary mt-2" %>
          <% end %>
        </td>
      </tr>
      <tr>
        <% if @customer == current_customer %>
        <td><%= link_to "編集", edit_item_path(@item.id), class: "btn btn-primary"%></td>
        <td><%= link_to "削除", @item, method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger" %></td>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>
</div>


  <div class="row my-3">
    <div class="col-md-8 mx-auto">
      <table class="table">
        <thead>
          <tr>
            <th>アカウント画像</th>
            <th>アカウント名</th>
            <th>コメント内容</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @item.item_comments.each do |item_comment| %>
           <tr>
             <td>
               <%= image_tag item_comment.customer.image.url, size:'50x50' %>
             </td>
             <td>
               <%= item_comment.customer.account_name %>
             </td>
             <td>
               <%= item_comment.comment %>
             </td>
             <td>
               <% if item_comment.customer == current_customer %>
                 <%= link_to "削除", item_item_comment_path(@item, item_comment), method: :delete, class: "btn btn-sm btn-danger" %>
               <% end %>
             </td>
           </tr>
          <% end %>