<div class="container my-5">

  <div class="row my-3">
    <div class="col-md-10 mx-auto">
      <h2 class="bg-light p-3">マイページ</h2>
      <div class="row my-5">
        <div class="col-md-3">
          <img src=<%= @customer.image %> class="img-fluid rounded-circle">
        </div>
        <div class="col-md-9">
          <table class="table table-hover">
            <tbody>
              <tr>
                <th scope="row">氏名</th>
                <td><%= @customer.user_name %></td>
              </tr>
              <tr>
                <th scope="row">アカウント名</th>
                <td><%= @customer.account_name %></td>
              </tr>
              <tr>
                <th scope="row">メールアドレス</th>
                <td><%= @customer.email %></td>
              </tr>
            </tbody>
          </table>
          <% if @customer == current_customer %>
            <%= link_to "編集する", edit_customer_path(current_customer), class: "btn btn-success" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="row my-5">
    <div class="col-md-10 mx-auto">
      <h2 class="bg-light p-3">作品一覧</h2>
      <div class="row my-4">
        <% @items.each do |item| %>
          <div class="col-md-4 mb-4">
            <div class="card h-100">
              <%= link_to item_path(item.id) do %>
                <%= image_tag item.item_image_url, class: "card-img-top" %>
              <% end %>
              <div class="card-body">
                <h5 class="card-title"><%= item.item_name %></h5>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

</div>